# Project 1 — Dataset Creation

The **goal** for this assignment is for you to create a usable dataset from an open-source data collection.

## Import Packages

In [9]:
import os
import numpy as np
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

## Step 1: Load Data

In [2]:
data = pd.read_csv(r'C:/Users/Kavya/Desktop/07  Advanced Data Analysis/data71200/matrimonial.csv')
df = pd.DataFrame(data)
df.head()

,poster,created_for,about_self,about_looking,about_family,age_looking_avg,age_self_2013,body_self,brothers,caste1,...,mother_occupation,mother_tongue1,occupation,religion_self,sisters,smoking_self,disability,status_self,values_self,weight_self
0,bride,Not Self,I am a simple girl with modern thinking. I fir...,NaN,NaN,28.0,25,Average,1.0,Brahmin,...,Business/Entrepreneur,Hindi,NaN,Hindu,1.0,No,False,High Class,Moderate,165.0
1,bride,Not Self,Simple and caring. I am doing my PG in PSN eng...,NaN,NaN,28.0,25,Slim,1.0,Ezhava,...,Housewife,Malayalam,"Banking, Insurance &amp; Financial Services,Ci...",Hindu,0.0,No,False,Middle Class,Moderate,90.0
2,bride,Self,NaN,NaN,NaN,27.0,24,Average,2.0,Sikh - Ramgharia,...,Housewife,Punjabi,Business Owner / Entrepreneur,Sikh,1.0,No,False,Middle Class,NaN,NaN
3,bride,Not Self,"My daughter is loving &amp; caring person, she...",NaN,NaN,27.0,24,Average,1.0,Sakkhar Sindhi,...,Housewife,Sindhi,NaN,Hindu,0.0,No,False,Upper Middle Class,Moderate,90.0
4,bride,Not Self,"My daughter is a sweet, talented, beautiful an...",Looking for a genuine and pious boy for my dau...,NaN,29.0,25,Average,2.0,Sunni,...,Housewife,Urdu,NaN,Muslim,4.0,No,False,Middle Class,Moderate,90.0

In [19]:
train_set, test_set = train_test_split(df, test_size=0.2, random_state=44)

In [26]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14359 entries, 13504 to 14100
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   poster               14359 non-null  object
 1   created_for          14266 non-null  object
 2   about_self           6926 non-null   object
 3   about_looking        1451 non-null   object
 4   about_family         1291 non-null   object
 5   age_looking_avg      13805 non-null  float64
 6   age_self_2013        14359 non-null  int64
 7   body_self            12627 non-null  object
 8   brothers             6676 non-null   float64
 9   caste1               13894 non-null  object
 10  complexion_self      13035 non-null  object
 11  degree               14345 non-null  object
 12  drinking_self        12906 non-null  object
 13  diet_self            12936 non-null  object
 14  employed_self        13615 non-null  object
 15  family_type          6511 non-null   object
 16  father_occupation    5900 non-null   object
 17  have_children        14359 non-null  object
 18  height_self_in       14359 non-null  int64
 19  income_self          9351 non-null   float64
 20  marital_status_self  14359 non-null  object
 21  mother_occupation    5922 non-null   object
 22  mother_tongue1       14313 non-null  object
 23  occupation           11074 non-null  object
 24  religion_self        14359 non-null  object
 25  sisters              6676 non-null   float64
 26  smoking_self         12922 non-null  object
 27  disability           14359 non-null  bool
 28  status_self          6554 non-null   object
 29  values_self          6274 non-null   object
 30  weight_self          3712 non-null   float64
dtypes: bool(1), float64(5), int64(2), object(23)
memory usage: 3.9+ MB

In [29]:
train_set.describe().apply(lambda s: s.apply('{0:.0f}'.format))

,age_looking_avg,age_self_2013,brothers,height_self_in,income_self,sisters,weight_self
count,13805,14359,6676,14359,9351,6676,3712
mean,25,25,1,66,7117,1,128
std,4,1,1,3,15255,1,24
min,18,24,0,58,546,0,13
25%,23,25,0,63,1366,0,110
50%,25,25,1,65,4094,1,128
75%,28,25,1,68,5462,1,143
max,75,27,10,84,400000,10,390